
.class2{
    font-family: 'Arial';
    background-color: #a8cf45;
    margin: 10px 10px;
    text-align: center;
    font-weight: bolder; /*Coloca las letras en negrita*/
    padding: 10px 30px;
    width: 80px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;    
}

article{
    display: inline-block;
    position: relative;
    top: 10px;
  /*  background-color: red;*/
}
div.apricionL{
    font-family: Arial, Helvetica, sans-serif;
    background: #a8cf45;    
    text-align: center;
    font-weight: bolder;
    position: relative;  
    width: 120px;
    height: 60px;
    margin: 50px 0 0 20px;
    overflow: hidden;
}
p{
    position: absolute;
    top: 10%;
    left: 20%;
}

.tapa{
     width: 100%;
     height: 100%;    
     top: 0;
     left: 160px;
     position: absolute;
     background: white;
     z-index: 10;
     -webkit-animation: 2s fadeL 1;
 }
 @-webkit-keyframes fadeL{
     0%{
        left: 0px;
     }
 }
 .tapaUp{
    width: 100%;
    height: 100%;    
    top: 80px;
    left: 0px;
    position: absolute;
    background: white;
    z-index: 10;
    -webkit-animation: 2s fadeUp 1;
 }
 @-webkit-keyframes fadeUp{
    0%{
       top: 0px;
    }
}
.tapaR{
    width: 100%;
    height: 100%;    
    top: 0px;    
    right: 160px;
    position: absolute;
    background: white;
    z-index: 10;
    -webkit-animation: 2s fadeR 1;
}
@-webkit-keyframes fadeR{
    0%{
       right: 0px;
    }
}
.tapaD{
    width: 100%;
    height: 100%;    
    bottom: 80px;    
    right: 0px;
    position: absolute;
    background: white;
    z-index: 10;
    -webkit-animation: 2s fadeD 1;
}
@-webkit-keyframes fadeD{
    0%{
       bottom: 0px;
    }
}

/*Animacion como si fuera un sobre de mensajeria*/
.veloz{
    -webkit-animation: 1s veloz 1;
}
@-webkit-keyframes veloz{
    0%{
        opacity: 0;
        -webkit-transform: translateX(-200%) skewX(30deg);
    }
    60%{
        opacity: 1;
        -webkit-transform: translateX(-20%) skewX(-30deg);
    }
    80%{
        -webkit-transform: translateX(0%) skewX(15deg);
    }
}
.veloz-out{
    -webkit-animation: 1s veloz-out 1;
}
@-webkit-keyframes veloz-out{
    15%{
        opacity: 1;        
    }
    100%{
        -webkit-transform: translateX(-200%) skewX(-70deg);
        opacity: 0;
    }
}
.giro{
    -webkit-transform-origin: center;
    -webkit-animation: 1s giro 1;
}
@-webkit-keyframes giro{
    0%{
        opacity: 0;  
        -webkit-transform: rotate(-200deg);      
    }
}
.giro2{
    -webkit-transform-origin: left bottom;
    -webkit-animation: 1s giro2 1;
}
@-webkit-keyframes giro2{
    0%{
        opacity: 0;  
        -webkit-transform: rotate(-100deg);      
    }
}

/*Sombra movil*/
.sombra-movil{
    font-family: 'Arial';
    background-color: #a8cf45;
    margin: 20px 10px 10px 10px;
    text-align: center;
    font-weight: bolder; 
    padding: 10px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateX(0);
}
.sombra-movil::before{    
    content: '';
    position: absolute;
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;    
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0,0,0,0.35)0%,
                                                        rgba(0,0,0,0)80%);
    -webkit-transition-duration: 0.3s;    
}
.sombra-movil:hover{
    -webkit-transform: translateY(-6px);
    -webkit-animation: 1s boxmove 1;
}
.sombra-movil:hover:before{    
    -webkit-transform: translateY(6px);
    opacity: 1;
    -webkit-animation: 1s moveshadow 1;
}
@-webkit-keyframes boxmove{
    50%{
        -webkit-transform: translateY(-3px);
    }
}
@-webkit-keyframes moveshadow{
    50%{
        opacity: 1;
        -webkit-transform: translateY(3px);
    }
}
.arrow{
    -webkit-transform: translateX(0);
}
.arrow::before{
    content: '';
    -webkit-transition-duration: 0.3s;
    border-style: solid;
    border-width: 15px 15px 15px 0px;
    border-color: transparent #a8cf45 transparent transparent;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -15px;
}
.arrow:hover::before{
    -webkit-animation: 1s move-arrow infinite;
}
@-webkit-keyframes move-arrow{
    25%{
        left: -15px;
        -webkit-transform: rotate(0deg);
    }
    65%{
        left: -15px;
        -webkit-transform: rotate(180deg);
    }
    90%{
        left: -15px;
        -webkit-transform: rotate(180deg);
    }
}